head{
    margin: 1px;
    padding: 1px;
}

body{
    margin: 1px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color:gold;
    background-color: darkred;
    height: 100vh;
}